<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="auth.css" />
  </head>
  <body>
    <div class="auth">
      <h1>Login</h1>
      <form action="/login" method="post">
        <input required type="email" placeholder="email" name="email" />
        <input
          required
          type="password"
          placeholder="password"
          name="password"
        />
        <button type="submit">Login</button>
        <p>This is an error!</p>
        <span>
          Don't you have an account? <a href="/register">Register</a>
        </span>
      </form>
    </div>
  </body>
</html>
