<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar</title>
    <link rel="stylesheet" href="globle.css" />
  </head>
  <body>
    <header class="header">
      <a href="#">
        <img src="../public/images/logo-stockslify.jpg" alt="" />
        <span>Stockslify.Blog</span>
      </a>
      <ul>
        <li>home</li>
      </ul>
      <div class="hoverItems">
        
      </div>
    </header>
  </body>
</html>
