<section>
  <ul class="footer-nav">
    <li class="footer-nav-item">
      <a class="footer-nav-link" href="#">Go to Stockslify</a>
    </li>
    <li class="footer-nav-item">
      <a class="footer-nav-link" href="#">Market Analysis</a>
    </li>
    <li class="footer-nav-item">
      <a class="footer-nav-link" href="#">Community</a>
    </li>
    <li class="footer-nav-item">
      <a class="footer-nav-link" href="#">Search box</a>
    </li>
  </ul>
</section>
<hr />
<section class="footer-publication-section">
  <div class="footer-publication">
    <p>
      The information presented is the most up to date at the time of
      publication.
    </p>
    <p>2024 StockslifY Official Blog</p>
  </div>
  <div class="social-media">
    <a href="#"><img src="/images/icons8-facebook.svg" alt="facebook" /></a>
    <a href="#"><img src="/images/icons8-instagram.svg" alt="instagram" /></a>
    <a href="#"><img src="/images/icons8-x.svg" alt="x" /></a>
    <a href="#"><img src="/images/icons8-youtube.svg" alt="youtube" /></a>
  </div>
  <div class="scroll-bnt">
    <a href="#" class="scroll-bnt-link"><i class="ri-align-top"></i></a>
  </div>
</section>
<hr />
<div class="warning">
  <p>
    <strong> Warning:</strong> The financial products offered by the company
    carry a high level of risk and can result in the loss of all your funds. You
    should never invest money that you cannot afford to lose.
  </p>
</div>

<p>&copy; 2024 StockslifY. All rights reserved.</p>
